.wrapper {
  background: rgb(32, 35, 41) none repeat scroll 0% 0%;
  height: calc(100vh - 84px);
  padding-top: 20px;
}

.character-header {
  color: #fff;
}

.hero-container {
  color: #fff;
  padding: 50px;
}

.hero-text {
  margin-left: 50px;
}
