<mat-toolbar class="navbar">
  <mat-toolbar-row class="navigation" fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-button [routerLink]="'/'">
    <span><img src="assets/images/logo.png" alt=""></span>
    </a>
    <div>
    <a mat-button [routerLink]="'characters'">Characters</a>
    <a mat-button [routerLink]="'locations'">Locations</a>
    <a mat-button [routerLink]="'episodes'">Episodes</a>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon></mat-icon>
    </button>
  </mat-toolbar-row>
