@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Comfortaa');
@include mat-core($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}
